<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
        <h1>Login</h1>
        <form  action="/auth/login" method="post">
            <div class="form-git__body">
                <div class="form-git__block">
                 
                        <div class="form-git__item">
                            <div class="form-git__label label-form">
                                Email <span>*</span>
                            </div>
                            <div class="form-git__line">
                                <input type="email" name="email" id="email" value="<%= formData ? formData.email : '' %>" required class="input form-git__input" />
                            </div>
                        </div>
                        <div class="form-git__item">
                            <div class="form-git__label label-form">
                                Пароль <span>*</span>
                            </div>
                            <div class="form-git__line">
                                    <input type="password" name="password" id="password" required class="input form-git__input" />
                            </div>
                        </div>
                </div>
            </div>
            <div class="actions">
                <button type="submit" class="form-git__button button  button--black " value="save">Login</button>
            </div>
            <div class="addititon">
             Уввійти
                <a href="/auth/signup"  class="form-git__button button  button--black " value="save">Sign Up</a>
                            </div>
        </form>

    </div>

    <% if (errors?.length > 0) { %>
        <ul>
          <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
        <hr />
        <% } %>
  </body>
</html>
